{% load staticfiles %}

<html>

	<head>
		<title>Rango</title>
	</head>

	<body>
		<div>
			<a href="/rango/">Index</a>
	        {% if category %}
	            <h1>{{ category.name }}</h1>

	            {% if pages %}
	                <ul>
	                    {% for page in pages %}
	                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
	                    {% endfor %}
	                </ul>
	            {% else %}
	                <strong>No pages currently in category.</strong>
	            {% endif %}

	            <br/>
	            <a href="{% url 'rango:add_page' category_name_slug=category.slug %}">Add a New Page</a> <br/>

	        {% else %}
	            <p>The specified category does not exist.</p>
	        {% endif %}
		</div>

	</body>

</html>
